* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.password-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.password-form input {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    flex: 1;
    margin-right: 10px;
}

.password-form button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.password-form button:hover {
    background-color: #0056b3;
}

.password-details {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.password-details ul {
    list-style-type: none;
    margin-bottom: 10px;
}

.password-details ul li {
    margin-bottom: 5px;
    font-size: 16px;
}

.crack-time, .password-strength {
    font-size: 16px;
    font-weight: bold;
}

.crack-time span, .password-strength span {
    font-weight: normal;
}
